{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var room;
    socket.on('connect', function() {
        socket.emit('user_connect');
    });
    socket.on('added_share', function(json) {
        //$('#log').append(JSON.stringify(json));
        $('#shares').prepend(`<tr>
                                        <td><button id="` + json.id + `" value="del">del</button></td>
                                        <td>` + json.body + `</td>
                                        <td>` + json.timestamp + `</td>
                                    </tr>`);
    });
    socket.on('deleted_share', function(post_id) {
        document.getElementById('shares').removeChild(document.getElementById(post_id).parentElement.parentElement)
    });
    $('form#user').submit(function(event) {
        socket.emit('user_login', $('#user_id').val());
        room = $('#user_id').val();
        return false;
    });
    $('form#share').submit(function(event) {
        socket.emit('new_share', {user_id: room, share: $('#share_body').val()});
        document.getElementById('share_body').value = '';
        return false;
    });
    $('button').on('click', function(event) {
        socket.emit('delete_share', {user_id: room, post_id: this.id});
        return false;
    });
    $('#shares').on('click', 'button', function(event) {
        socket.emit('delete_share', {user_id: room, post_id: this.id});
        return false;
    });
});
</script>
<h1>Welcome to Schere, the cross-device copy/paste app!</h1>
<form id="user" method="POST" autocomplete="off">
    <input id="user_id" type="text" name="user_id" placeholder="Username...">
    <input type="submit">
</form>
<form id="share" method="POST" autocomplete="off">
    <input id="share_body" type="text" name="share_body" autofocus placeholder="New share...">
    <input type="submit">
</form>
<table>
    <thead>
        <tr>
            <th>del</th>
            <th>body</th>
            <th>timestamp</th>
        </tr>
    </thead>
    <tbody id="shares">
        {% for share in shares %}
        <tr>
            <td><button id="{{ share.id }}" value="del">del</button></td>
            <td>{{ share.body }}</td>
            <td>{{ share.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="log"></div>
{% endblock %}